<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Wholesail</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body itemscope itemtype="http://schema.org/WebPage">
    <header class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
      <nav class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Wholesail</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="#">
                Shoes
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">2</span></a>
            </li>
            <li>
              <a href="#">Sign in</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <% message = get_flash(@conn, :info) %>
    <%= if message != nil do %>
    <div class="alert alert-info" role="alert">
      <%= message %>
    </div>
    <% end %>
    <% message = get_flash(@conn, :error) %>
    <%= if message != nil do %>
    <div class="alert alert-danger" role="alert">
      <%= message %>
    </div>
    <% end %>

    <div class="container">
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
